:root {
    --title-font: 'Fascinate', cursive;
    display: flex;
    font-size: 20px;
    position: relative;
}

html, body {
    height: 100%;
    width: 100%;
}

#root {
    display: flex;
}

.title {
    font-family: var(--title-font);
}

.tagline {
    font-family: var(--title-font);
}


