#game {
    --square-side-length: 2em;
    --ship-square-color: #A91079;
    --carrier-color: #C724B1;
    --battleship-color: #4D4DFF; 
    --cruiser-color: #E0E722;
    --submarine-color: #FFAD00;
    --destroyer-color: #DB3EB1;
    --overlay-color: black;   
    --border-color: white;
    --foreground-color: white;
    --reverse-foreground-color: black;
    --bg-color: #1B1212;
    --shadow-color: #848884;
    --message-font: 'Roboto Mono', monospace;;
}

#root {
    height: inherit;
    width: inherit;
}

#game {
    align-items: center;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

header {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 20%;
}

header > #title-information {
    align-items: center;
    color: var(--foreground-color);
    display: flex;
    flex-direction: column;
}

#title-information > .tagline {
    color: var(--foreground-color);
    font-size: 1.1rem;
    text-align: center;
}

#title-information > .title {
    color: var(--foreground-color);
    font-size: 2.2rem;
    margin-top: -0.1rem;
    text-align: center;
}

#title-information >  #status-message {
    font-size: 0.9rem;
    font-family: var(--message-font);
    margin-top: -0.05rem;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    max-height: 70%;
}

main > * {
    margin: 3em;
    margin-top: -0.1rem;
}

#overlay {
    align-items: center;
    background-color: var(--overlay-color);
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: 0;
    opacity: 0.8;
    position: fixed;
    top: 0px;
    width: 100vw;
}

#overlay > #winner-banner {
    align-items: center;
    border: 3px solid var(--border-color);
    border-radius: 20px;
    box-shadow: 0 6px 10px var(--shadow-color);
    display: flex;
    flex-direction: column;
    height: 30%;
    justify-content: center;
    max-width: 25rem;
    width: 40%;
}

#overlay > #winner-banner > h3 {
    color: var(--foreground-color);
    font-family: var(--title-font);
    font-size: 2rem;
}

#overlay > #winner-banner > button {
    border-radius: 20px;
    box-shadow: 0 3px 10px var(--shadow-color);
    cursor: pointer;
    font-family: var(--title-font);
    font-size: 0.9rem;
    height: 2rem;
    transition: 200ms;
    width: 6.5rem;
}

#winner-banner > button:hover {
    background-color: var(--shadow-color);
    color: var(--foreground-color);
}

footer {
    align-items: center;
    color: var(--foreground-color);
    display: flex;
    font-family: var(--message-font);
    height: 10%;
    justify-content: center;
}





